* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: red;
}

body {
    background: black;
    font-family: 'Poppins', sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 10;
}

.logo {
    font-size: 30px;
    color: white;
    letter-spacing: 1px;
    font-weight: 800;
}

.nav {
    display: flex;
}

.nav li {
    list-style: none;
    margin: 0 10px;
}

.nav li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}

.nav li:hover a {
    color: var(--primary);
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('../images/Background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: 0.5s;
}

.banner::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.content {
    position: relative;
    max-width: 550px;
    display: none;
    visibility: hidden;
    transform: scale(0);
    transition: 0.5s;
}

.content.active {
    display: block;
    visibility: visible;
    transform: scale(1);
    transition: 0.5s;
}

.movie-title {
    max-width: 250px;
}

.banner .content h4 {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 30px;
}

.banner .content h4 span {
    padding: 0 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.banner .content h4 span:first-child {
    padding-left: 0;
}

.banner .content h4 span:last-child {
    border-right: none;
}

.banner .content h4 span i {
    background: var(--primary);
    color: white;
    padding: 0 8px;
    display: inline-block;
    border-radius: 2px;
}

.banner .content p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    color: white;
    margin: 10px 0 20px;
}

.banner .content .button {
    position: relative;
}

.banner .content .button a {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    background: var(--primary);
    color: white;
    padding: 6px 20px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
}

.banner .content .button a:nth-child(1) {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.banner .content .button a:hover:nth-child(1) {
    background: var(--primary);
}

.banner .poster {
    position: relative;
    min-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.item {
    position: relative;
    height: 600px;
    perspective: 1500;
}

.item .poster-item {
    width: 200px;
    cursor: pointer;
}

.item .poster-item video {
    max-width: 700px;
    border-radius: 10px;
    transform: translateX(-250px) translateY(110px);
    object-fit: cover;
    object-position: center;
}

.copyrights {
    position: absolute;
    bottom: 50px;
    left: 100px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.2em;
    cursor: pointer !important;
    transition: 0.3s;
}

/* .trailer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.trailer.active {
    visibility: visible;
    opacity: 1;
}

.trailer video {
    max-width: 900px;
    outline: none;
}

.close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(1);
    max-width: 30px;
} */

